<%= render partial: 'partials/user_card', locals: { user: @user } %>

<div class='bio'>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div class='feed'>
  <% @user.three_recent_posts.each do |post| %>
    <%= render partial: 'partials/post', locals: { post: post, short: true } %>
  <% end %>
  <% if @user.posts.length > 0 %>
    <%= link_to "/users/#{@user.id}/posts" do %>
      <button type='button' class='see_all'>See all posts</button>
    <% end %>
  <% end %>
</div>