<div class='post-ctr'>
    <%= render partial: 'partials/post', locals: { post: @post, short: false } %>
    <% if @post.comments.length > 0 %>
      <div class='comments'>
        <% @post.comments.each do |comment| %>
          <%= render partial: 'partials/comment', locals: { comment: comment } %>
        <% end %>
      </div>
    <% end %>
  </div>