*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
}

.user-card {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 1rem;
}

.user-info {
  border: 1px black solid;
  flex: 6 6;
  padding: 2rem;
  position: relative;
  height: 6rem;
  border-radius: 5px;
}

.user-info p {
  position: absolute;
  right: 1rem;
}

.user-card img {
  object-fit: cover;
  border: 1px black solid;
  height: 6rem;
}

.user-card p {
  align-self: flex-end;
}

.user-nav-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.post-body {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: none;
  gap: 1rem;
  background-color: #fbeec1;
}

.feed button {
  place-self: center;
  position: absolute;
  left: 43%;
  right: 43%;
  border: none;
  margin-bottom: 4rem;
  background-color: #daad86;
  padding: 0.5rem;
}

.post-header {
  align-self: flex-start;
}

.post-counters {
  align-self: flex-end;
}

.comments {
  border: 1px solid black;
}

input {
  width: 100%;
}

.comment {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.post-ctr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.bio {
  padding: 1rem;
  width: 80%;
  background-color: #daad86;
}

.submit {
  width: fit-content;
  margin-top: 1rem;
}

.comment-text input {
  padding: 1rem 0 10rem 1rem;
  font-style: italic;
  border-radius: 1rem;
}
